{% extends "base.html" %}

{% block title %}Account login - Archfinch{% endblock %}

{% block content %}

<div class="big">
    Log in to your account <br /><br />
    <form method="post" action="{% url login %}" id="loginform">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br />
    <input type="submit" value="Log in" >
    <input type="hidden" name="next" value="{{ next }}" />
    <img src="/media/images/ajax-loader.gif" class="nodisplay loading">
    <div id="loginform_error" class="error"></div>
    </form>
</div>
<script type="text/javascript">
next = "{{ next }}"
</script>

{% endblock %}

