{% extends base %}

{% block title %}
Explore tags - Archfinch
{% endblock %}

{% block media %}
{% include "includes/generate_lists_tip.html" %}
{% endblock %}

{% block content_left %}
<h1>Explore tags</h1>

<div class='tag-explorer'>
    <div class='tagfilter-container'><input type='text' id='tagfilter'></div>
    {% for tag in popular_tags %}
        <div class='tag-cell' tag='{{ tag.name }}'>
            <span class="tag"><a class="taglink" href="{% url fresh-tags tag.name %}" tag_name="{{ tag.name }}">{{ tag.name }}</a></span> <span style='font-size: 10px'>{{ tag.count }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
