{% extends base %}

{% load markup %}
{% load base36 %}
{% load cache %}

{% block title %}{{ item.name }} - Archfinch{% endblock %}

{% block media %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="/media/js/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/js/flot/jquery.flot.min.js"></script>

{% if not item.is_link %}
    <script type="text/javascript">
    $(document).ready(function(){
        $.plot($("#ratings_graph"), [
            {
                data: [
                {% cache 86400 ratings_count item.id %}
                {% for rating, count in item.ratings_count %}
                    [{{ rating }}, {{ count }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% endcache %}
                ],
                bars: {show: true, barWidth: 0.75, align: "center", fill: 0.5},
                color: 1
            }
        ],
        {
            grid: {tickColor: "transparent", hoverable: true},
            yaxis: {ticks: [], autoscaleMargin: 0.1},
            xaxis: {autoscaleMargin: 0.05, ticks: [1,2,3,4,5]}
        });
    });
    </script>
{% endif %}

{% include "includes/generate_lists_tip.html" %}
{% endblock %}

{% block content_left %}
<h1 id="item" item_id="{{ item.id|base36 }}">{{ item.name }}</h1>

{% if item.category.element_singular == 'link' %}
    <p>URL: <a href="{{ item.link.url }}">{{ item.link.url }}</a></p>
{% endif %}
{% if item.category.element_singular == 'pic' %}
    {% if item.link.image.width > 640 and item.link.thumbnail %}
        <a href="{{ item.link.url }}"><img src="{{ item.link.thumbnail.url }}" style='border: 0'></a>
    {% else %}
        <img src="{{ item.link.url }}">
    {% endif %}
    <br /><br />
{% endif %}
{% if item.category.element_singular == 'video' %}
    {{ item.link.html|safe }}
    <br /><br />
{% endif %}

{% if item.profile.page %}
    <div class="article">
    {{ item.profile.page.render|markdown }}
    </div>
    <span class="smalltext"><p>(<a href='{% url wiki-edit-item item.id|base36 %}'>edit</a>)</p></span>
{% else %}
    <p>There is no information on this {{ item.category.element_singular }}. <a href='{% url wiki-edit-item item.id|base36 %}'>Add some.</a></p>
{% endif %}

<br /><br />

<h1>People who
<button class="also_liked" like_type='like'><span class="like_dislike">like</span> <img src="/media/images/arrow-s.gif" style='padding: 2px; margin-left: -3px;'></button>
{% if item.link %}
    this {{ item.category.element_singular }}
{% else %}
 {{ item.name }}
{% endif %}
<span id="also_liked_also">also</span>
<button class="also_liked" like_type='also_like'><span class="like_dislike">like</span> <img src="/media/images/arrow-s.gif" style='padding: 2px; margin-left: -3px;'></button>
<img src="/media/images/ajax-loader.gif" style='margin-left: 20px' class="loading nodisplay" id="ld_also_liked">
</h1>

<div id="also_liked_error" class="error"></div>

<div class="also_liked">
{% include "includes/also_liked.html" with items=also_liked %}
</div>


{% endblock %}
{% block content_right %}

{% if user.is_authenticated %}
<div class="box opinion itembox">
{% if opinion %}
    <div class="rating rating{{ opinion.rating }}" id="yr_{{ item.id|base36 }}">{{ opinion.rating }}</div>
    <div class="rating_verbose">{{ opinion.get_rating_display }}</div>
{% else %}
    <div class="rating" id="yr_{{ item.id|base36 }}"></div>
    <div class="rating_verbose">
    {% if recommendation %}
        <a class="nohover">You might
        {% if recommendation > 0 %}like{% else %}dislike{% endif %} 
        it</a>
    {% endif %}
    {% if recommendation == 0 %}
        <a class="nohover">Rate this {{ item.category.element_singular }}</a>
    {% endif %}
    </div>
{% endif %}
    <div class="user_opinion" item="{{ item.id|base36 }}">

    <div class="user_rate">
        <span class="rating_label">Rate:</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 1 %}rated{% endif %} rating1">1</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 2 %}rated{% endif %} rating2">2</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 3 %}rated{% endif %} rating3">3</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 4 %}rated{% endif %} rating4">4</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 5 %}rated{% endif %} rating5">5</span>
        <span class="rating_small rate delete {% if not opinion %}nodisplay{% endif %}">x</span>
    </div><br /><br />
    <div class="rating_small_hint" id="rsh_{{ item.id|base36 }}" style="margin-left: 0;"></div><br />
    <img src="/media/images/ajax-loader.gif" class="loading nodisplay" id="ld_{{ item.id|base36 }}">
    </div>
</div>
{% endif %}

<br />

{% if not item.is_link %}
<div id="ratings_graph"></div>
{% else %}
<p>{{ item.link.views }} views</p>
{% endif %}

{% if item.submitter %}
<p>
Submitted by <a href="{% url user-overview item.submitter_show.username %}">{{ item.submitter_show.username }}</a>
</p>
{% endif %}

{% endblock %}
