{% extends "base.html" %}

{% load markup %}
{% load base36 %}

{% block title %}{{ item.name }} - Archfinch{% endblock %}

{% block content %}
<div id="content_left">
<b>{{ item.name }}</b>

{% if item.profile.page %}
    <div class="article">
    {{ item.profile.page.render|markdown }}
    </div>
    <span class="smalltext"><p>(<a href='{% url wiki-edit-item item.id|base36 %}'>edit</a>)</p></span>
{% else %}
    <p>There is no information on this {{ item.category.element_singular }}. <a href='{% url wiki-edit-item item.id|base36 %}'>Add some.</a></p>
{% endif %}

</div>

<div id="content_right">

<div class="box opinion">
{% if opinion %}
    <div class="rating rating{{ opinion.rating }}" id="yr_{{ item.id|base36 }}">{{ opinion.rating }}</div>
    <div class="rating_verbose">{{ opinion.get_rating_display }}</div>
{% else %}
    <div class="rating" id="yr_{{ item.id|base36 }}"></div>
    <div class="rating_verbose">
    {% if recommendation %}
        <a class="nohover">You might
        {% if recommendation > 0 %}like{% else %}dislike{% endif %} 
        this {{ item.category.element_singular }}</a>
    {% endif %}
    {% if recommendation == 0 %}
        <a class="nohover">Rate this {{ item.category.element_singular }}</a>
    {% endif %}
    </div>
{% endif %}
    <div class="user_opinion" item="{{ item.id|base36 }}">

    <div class="user_rate">
        <span class="rating_label">Rate:</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 1 %}rated{% endif %} rating1">1</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 2 %}rated{% endif %} rating2">2</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 3 %}rated{% endif %} rating3">3</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 4 %}rated{% endif %} rating4">4</span>
        <span class="rating_small rate {% if opinion and opinion.rating == 5 %}rated{% endif %} rating5">5</span>
        <span class="rating_small rate delete {% if not opinion %}nodisplay{% endif %}">x</span>
    </div>
    <div class="rating_small_hint" id="rsh_{{ item.id|base36 }}"></div>
    <img src="/site_media/images/ajax-loader.gif" class="loading nodisplay" id="ld_{{ item.id|base36 }}">
    </div>
</div>

</div>

{% endblock %}
