{% extends base %}

{% load markup %}
{% load base36 %}
{% load cache %}
{% load lazysignup_tags %}

{% block title %}
{% if item.is_comment %}
{% if item.comment.text|length > 32 %}{{ item.comment.text|slice:":32" }}...{% else %}{{ item.comment.text }}{% endif %} - Archfinch
{% else %}
{{ item.name }} - Archfinch
{% endif %}
{% endblock %}

{% block media %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="/media/js/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/js/flot/jquery.flot.min.js"></script>

{% if not item.is_link and not item.is_comment %}
    <script type="text/javascript">
    $(document).ready(function(){
        $.plot($("#ratings_graph"), [
            {
                data: [
                {% cache 86400 ratings_count item.id %}
                {% for rating, count in item.ratings_count %}
                    [{{ rating }}, {{ count }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% endcache %}
                ],
                bars: {show: true, barWidth: 0.75, align: "center", fill: 0.5},
                color: 1
            }
        ],
        {
            grid: {tickColor: "transparent", hoverable: true},
            yaxis: {ticks: [], autoscaleMargin: 0.1},
            xaxis: {autoscaleMargin: 0.05, ticks: [1,2,3,4,5]}
        });
    });
    </script>
{% endif %}

{% include "includes/generate_lists_tip.html" %}
{% endblock %}

{% block content_left %}
<h1>{{ item.name }}</h1>
{% if item.is_comment %}
{% else %}
    {% include "includes/opinionbox.html" with item_id=item.id yr_big=1 terse_layout=1 item_name=item.name category_singular=item.category.element_singular seq_term=1 your_rating=opinion.rating link=item.link %}
{% endif %}

{% if not item.is_comment %}
    {% if item.profile.page %}
        <div class="article">
        {{ item.profile.page.render|markdown }}
        </div>
        <span class="smalltext"><p>(<a href='{% url wiki-edit-item item.id|base36 %}'>edit</a>)</p></span>
    {% else %}
        <p>There is no information on this {{ item.category.element_singular }}. <a href='{% url wiki-edit-item item.id|base36 %}'>Add some.</a></p>
    {% endif %}
{% endif %}

<h3>Comments</h3>

<form class='addcomment' method='post' action='{% url comment-add %}'>
    <textarea name='text' style='width: 600px; height: 200px; padding: 3px'></textarea>
    <input type='submit' value='Leave a comment'>
    <input type='hidden' name='parent' value='{{ item.id }}'>
    {% csrf_token %}
    {% if user|is_lazy_user %}<span style='font-size: 12px; color: #888'>(you don't need an account)</span>{% endif %}
</form>
<br /><br />

{% include "includes/comment_tree.html" with comment_tree=comment_tree %}

<br /><br />

<h4>People who
<button class="also_liked" like_type='like'><span class="like_dislike">like</span> <img src="/media/images/arrow-s.gif" style='padding: 2px; margin-left: -3px;'></button>
{% if item.link or item.is_comment %}
    this {{ item.category.element_singular }}
{% else %}
 {{ item.name }}
{% endif %}
<span id="also_liked_also">also</span>
<button class="also_liked" like_type='also_like'><span class="like_dislike">like</span> <img src="/media/images/arrow-s.gif" style='padding: 2px; margin-left: -3px;'></button>
<img src="/media/images/ajax-loader.gif" style='margin-left: 20px' class="loading nodisplay" id="ld_also_liked">
</h4>

<div id="also_liked_error" class="error"></div>

<div class="also_liked">
{% include "includes/also_liked.html" with items=also_liked %}
</div>


{% endblock %}
{% block content_right %}

{% if not item.is_link and not item.is_comment %}
<div id="ratings_graph"></div>
{% else %}
{% if item.is_link %}
<p>{{ item.link.views }} views</p>
{% endif %}
{% endif %}

{% if item.submitter %}
<p>
Submitted by <a href="{% url user-overview item.submitter_show.username %}">{{ item.submitter_show }}</a>
</p>
{% endif %}

{% endblock %}
