{% extends "base.html" %}

{% load base36 %}
{% load nbsp %}

{% block title %}
    {% if category %}
        {{ category.element_singular|capfirst }} recommendations - Archfinch
    {% else %}
        Recommendations - Archfinch
    {% endif %}
{% endblock %}

{% block content %}

<div id="content_left">
<h1>
{% if category %}
    {{ category.element_plural|capfirst }}
{% else %}
    Things
{% endif %}
 you might like.
</h1>

{% for item in recommendations %}
    <p>
    <div class="title"><a href="{% url main.views.item item.id|base36 item|slugify %}">{{ item }}</a></div>
    <div class="category_element">{{ item.category.element_singular|capfirst }}</div>
    </p>
{% empty %}
    {% if not category %}
        <div class="big">
            <p>We don't know you well enough to recommend you anything.
            <p>We would like to, though, so please consider rating more stuff.</p>
        </div>
    {% endif %}
{% endfor %}
{% if left > 0 %}
    <span class="smalltext">
    <p>There {{ left|pluralize:"is,are" }} {{ left }} more result{{ left|pluralize }}.
    {% if left <= 100 %}
        <a href="{% url recommend-paged category_slug|default:"" start|add:n 100 %}">Show {{ left|pluralize:"it,them" }}</a>.
    {% else %}
        Show the next <a href="{% url recommend-paged category_slug|default:"" start|add:n 100 %}">100</a>.
    {% endif %}
    </p>
    </span>
{% endif %}

</div>
<div id="content_right">
{% if user_categories %}
    <p id="user_cats">Show  
    {% for id, repr, slug in user_categories %}
        <a href='{% url recommend-slugged slug|urlencode %}'>{{ repr|nbsp }}</a>{{ forloop.last|yesno:"...,&#44;"|safe}}
    {% endfor %}
    (<a href="#" id="user_cats_more">more</a>)
    </p>

    <p id="global_cats">Show 
    {% for id, repr, slug in categories %}
        {{ forloop.last|yesno:"or ," }}<a href='{% url recommend-slugged slug|urlencode %}'>{{ repr|nbsp }}</a>{{ forloop.last|yesno:".,&#44;"|safe}}
    {% endfor %}
    </p>
{% endif %}
</div>

{% endblock %}
