{% extends base %}

{% load base36 %}
{% load nbsp %}
{% load sequence %}
{% load reversetag %}

{% block title %}
    {% if category %}
        {{ category.element_singular|capfirst }} recommendations - Archfinch
    {% else %}
        Recommendations - Archfinch
    {% endif %}
{% endblock %}

{% block content %}

<div id="content_left">
<h1>
{% if category %}
    {{ category.element_plural|capfirst }}
{% else %}
    Things
{% endif %}
{% if usernames_specified %}
    {{ usernames|sequence }}
{% else %}
    you
{% endif %}
 might like.
</h1>

{% for item in recommendations %}
    {% with item.id as item_id %} 
    {% with 1 as yr_big %}
    {% with 1 as terse_layout %}
    {% with 1 as click_hides %}
    {% with item.name as item_name %}
    {% with item.category_element as category_singular %}
    {% with forloop.counter as seq_term %}
        {% include "includes/opinionbox.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% empty %}
    {% if not category %}
        <div class="big">
            <p>We don't know {% if usernames_specified %}them{% else %}you{% endif %} well enough to recommend you anything.
            {% if not usernames_specified %}
            <p>We would like to, though, so please consider rating more stuff.</p>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

{% if usernames_specified %}
    {% reverse partial "recommend-for" category_slug=category_slug|default:"" usernames=usernames_joined as pagination_url %}
{% else %}
    {% if category_slug %}
        {% reverse partial "recommend-slugged-paged" category_slug=category_slug as pagination_url %}
    {% else %}
        {% reverse partial "recommend-paged" as pagination_url %}
    {% endif %}
{% endif %}
{% include "includes/pagination.html" %}

</div>
<div id="content_right">
{% if user.categories %}
    <p id="user_cats">Show  
    {% for category in user.categories %}
        {% if usernames_specified %}
            {% url recommend-for category.slug|urlencode usernames|join:"," as category_url %}
        {% else %}
            {% url recommend-slugged category.slug|urlencode as category_url %}
        {% endif %}
        <a href='{{ category_url }}'>{{ category.element_plural|nbsp }}</a>{{ forloop.last|yesno:"...,&#44;"|safe}}
    {% endfor %}
    (<a href="#" id="user_cats_more">more</a>)
    </p>

    <p id="global_cats">Show 
    {% for id, repr, slug in categories %}
        {% if usernames_specified %}
            {% url recommend-for slug|urlencode usernames|join:"," as category_url %}
        {% else %}
            {% url recommend-slugged slug|urlencode as category_url %}
        {% endif %}

        {{ forloop.last|yesno:"or ," }}<a href='{{ category_url }}'>{{ repr|nbsp }}</a>{{ forloop.last|yesno:".,&#44;"|safe}}
    {% endfor %}
    </p>

    <br />

    <p>
        {% if users|length > 1 %}
        Want to add someone else?<br />
        {% else %}
        Watching a movie with someone?<br />
        {% endif %}
        <input type='text' class="search" style='margin: 8px 0 8px 0' id='users_autocomplete' url='{% url recommend-for usernames=",,," %}' usernames='{{ usernames|join:"," }}'> <br />
        {% if users|length <= 1 %}
        Type in their username to include them in your recommendations.
        {% endif %}
    </p>

{% endif %}
</div>

{% endblock %}
{% block media %}
{% include "includes/generate_lists_tip.html" %}
{% endblock %}
