{% extends base %}

{% block content_left %}

<div class="big">
    <div class="left">
        Rate things you love or hate. <br />
        Get recommendations based on what <i>you</i> like.
    </div>

    <div class="right">
        Create an account <br /><br />

        <form method="post" id="signupform" action="{% url signup %}">
        <table>
            <tr>
            <td><label for="id_username">Username:</label></td>
            <td><input id="id_username" type="text" name="username" maxlength="30" /></td>
            </tr>
            <tr> 
            <td><label for="id_password">Password:</label></td>
            <td><input type="password" name="password" id="id_password" /></td>
            </tr>
        </table><br />
        {% csrf_token %}
        <input type="submit" value="Create an account" >
        <img src="/media/images/ajax-loader.gif" class="nodisplay loading">
        <div id="signupform_error" class="error"></div>
        </form>
        <div id="signupform_thankyou" class="nodisplay">
            Thank you for signing up. You will be logged in shortly.
        </div>
    </div>
</div>

{% endblock %}
