body
{
    font-family: Verdana;
    background-color: #ffffff;
    border: 0;
    margin: 0;
}
html, body
{
    height: 100%;
}
#wrap
{
    min-height: 100%;
    width: 1000px;
    margin-bottom: -25px;
    position: relative;
}
#footer
{
    height: 25px;
    margin-left: 12px;
    font-size: 12px;
    color: #aaaaaa;
    position: relative;
}
.clearfooter
{
    clear: both;
    height: 25px;
}
#footer a
{
    color: #aaaaaa;
}
#footer a:hover
{
    color: #0099ff;
}
#navbar a.selected, #navbar a.selected:hover
{
    color: #004c80;
}
a
{
    text-decoration: none;
    color: #0055ee;
}
a:hover
{
    color: #0099ff;
}
a.nohover:hover
{
    color: #0055ee;
}
#content
{
    margin: 1em;
}
#content_left
{
    float: left;
    margin-bottom: 1em;
    width: 45em;
}
#content_right
{
    margin-left: 46em;
}
p, .article li
{
    font-size: 0.8em;
    line-height: 1.5em;
}
ul.menu
{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5em;
}
ul.menu li
{
    display: inline;
    margin-left: 1em;
}
.widebox .title, .widebox .rating_verbose
{
    color: #333333;
    padding: 8px 4px 4px 4px;
    margin: 2px;
}
.widebox .title a
{
    color: #333333;
    text-decoration: none;
}
.widebox .category_element
{
    float: right;
    padding: 4px 8px 4px 4px;
    margin: 2px;
}
.box
{
    padding-bottom: 1.5em;
    width: 40em;
}
.box.itembox
{
    width: 100%;
    padding: 4px;
}
.user_opinion
{
    font-size: 10px;
    margin-bottom: 15px;
}
.box.highlight
{
    background-color: #f8f8ff;
}
table
{
    border-spacing: 0;
}
td
{
    padding: 5px;
}
.likes 
{
    color: #ffffff;
}
.highlight .likes
{
    color: #aaaaaa;
    font-size: 10px;
}
.category_filter
{
    margin-top: 2px;
    font-size: 11px;
    margin-bottom: 10px;
    color: #cccccc;
}
.category_filter a
{
    color: #aaaaaa;
}
.category_element
{
    font-size: 11px;
    color: #aaaaaa;
}
.widebox .category_element
{
    color: #bbbbbb;
    margin-left: 1em;
}
.rating, .rating_small
{
    float: left;
    text-align: center;
    cursor: default;
    font-weight: bold;
}
.rating_small
{
    width: 16px;
    height: 16px;
    font-size: 10px;
    padding: 0 0 0 0;
    line-height: 15px;
}
.rating
{
    padding: 0 0 0 0;
    margin: 5px 8px 5px 5px;
    width: 30px;
    height: 30px;
    line-height: 27px;
}
.itembox .rating
{
    margin-bottom: 40px;
}
.rating1
{
    background-color: #f02000;
    color: #ffffff;
}
.rating2
{
    background-color: #ffcc00;
    color: #ffffff;
}
.rating3
{
    background-color: #fff600;
    color: #ffffff;
}
.rating4
{
    background-color: #88f000;
    color: #ffffff;
}
.rating5
{
    background-color: #00a020;
    color: #ffffff;
}
.rating_label
{
    float: left;
    margin-right: 5px;
}
.rate.rating_small
{
    opacity: .15; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=15); /* IE lt 8 */
    -ms-filter: "alpha(opacity=15)"; /* IE 8 */
    -khtml-opacity: .15; /* Safari 1.x */
    -moz-opacity: .15; /* FF lt 1.5, Netscape */
}
.rated.rating_small
{
    opacity: 1.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=100); /* IE lt 8 */
    -ms-filter: "alpha(opacity=100)"; /* IE 8 */
    -khtml-opacity: 1.0; /* Safari 1.x */
    -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
}
.delete
{
    margin-left: 10px;
}
.your_opinion
{
    display: inline;
}
.highlight .your_opinion
{
    display: none;
}
.user_rate
{
    display: none;
}
.terse .user_rate
{
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}
.terse .user_opinion
{
    float: right;
}
.terse .category_element
{
    float: left;
}
.terse .title, .terse .category_element
{
    margin-left: 5px;
}
.terse
{
    padding: 2px 2px 30px 2px;
}
.highlight .user_rate
{
    display: inline;
}
.nodisplay
{
    display: none;
}
.rating_small_hint
{
    float: left;
    margin-left: 2em;
    color: #b6b6c0;
}
#logo
{
    padding: 0.75em;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 24px;
    color: #0099ff;
    width: 500px;
    float: left;
}
#logo a
{
    color: inherit;
    text-decoration: none;
}
#navbar
{
    font-size: 20px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    margin-bottom: 30px;
    clear: both;
    border-bottom: 1px solid #0099ff;
}
#navbar a
{
    color: #0055ee;
}
#navbar a:hover
{
    color: #0099ff;
}
#search, #search_inline
{
    border: 2px solid #0099ff;
}
#search
{
    font-weight: bold;
}
#search_inline
{
    margin-right: 5px;
    font-weight: normal;
    height: 26px;
}
#topnav
{
    float: right;
}
.ajaxform
{
    margin-left: 10px;
    margin-top: 10px;
}
.ajaxform input
{
    width: 10em;
    margin-right: 1em;
}
input[type="text"], input[type="password"], input[type="submit"], textarea, select
{
    border: 1px solid #0099ff;
    color: #333333;
    background-color: #ffffff;
}
.error
{
    color: #ff0000;
    margin-top: 1em;
}
.big .error
{
    font-size: 16px;
    font-family: Verdana;
}
.big th
{
    text-align: left;
    font-weight: normal;
}
.similarity .bar
{
    height: 10px;
    float: left;
    background-color: #c0eeff;
}
.similarity
{
    width: 120px;
    float: left;
    border: 1px solid #80ccff;
    background-color: #ffffff;
}
.smalltext
{
    font-size: 0.875em;
    color: #aaaaaa;
}
.opinion .loading
{
    margin-left: 1em;
    float: left;
}
.resizable-textarea textarea
{
    margin-bottom: 0;
}
div.grippie
{
    background: #c0eeff no-repeat scroll center 2px;
    border-color: #0099ff;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}
.big .left
{
    width: 55%;
    float: left;
}
.big .right
{
    width: 45%;
    float: right;
}
.big
{
    margin: 1em;
    font-family: Helvetica, Arial;
    color: #0072cc;
    font-size: 20px;
    line-height: 30px;
}
.big input, .big select
{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #0099ff;
    padding: 10px 20px;
}
.big select
{
    padding: 0;
    font-weight: normal;
}
.big input[type="submit"]
{
    border-width: 2px;
}
.big label
{
    margin-right: 20px;
}
h1
{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #0072cc;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}
h2 
{
    font-size: 16px;
    margin-top: 30px;
}
.hide
{
    display: none;
}
