body
{
    font-family: Verdana;
    background-color: #ffffff;
    border: 0;
    margin: 0;
}
html, body
{
    height: 100%;
}


html, body, #wrap
{
min-height: 100%; 
}
body > #wrap
{
 height: auto; 
 min-height: 100%; 
 }

#main-wrapper
{
	background: #f2f2f2;
	
}
#main
{
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0 0;
	background-image: url("/media/yellow.png");
}
#header-wrapper
{

	background-image: url("/media/navbg.png");
}
#header-main
{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 80px;

    position: relative;
}
#navbar-wrapper
{
    height: 35px;
    background-color: #434d53;

}
#navbar
{
    width: 367px;
    height: 35x;
    float: left;
    margin: 0 0 0 -45px;
    padding: 4px 0 0 0;
    font-size: 20px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    clear: both;
    background: #434d53;
}
#nav-main
{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}
#search-right
{
    float: right;
	margin-top: 4px;
	margin-right: -15px;
}
#footer
{
    font-size: 12px;
    color: #ffffff;
	background: #434d53;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}
.clearfooter
{
    clear: both;
    height: 25px;
}
#footer a
{
    color: #aaaaaa;
}
#footer a:hover
{
    color: #0099ff;
}
#navbar a.selected, #navbar a.selected:hover
{   margin: 0;
    color: #004c80;
}
#bigsignup
{

}


#biglogin
{
}
a
{
    text-decoration: none;
    color: #434d53;
	
}
a:hover
{
    color: #434d53;

}
a.nohover:hover
{
    color: #0055ee;
}
#content
{
    margin: 1em;
}
#content_left
{
    float: left;
    margin-bottom: 1em;
    width: 700px;
	padding: 15px;
    border: 2px outset #dbdbdb;
	background: #ffffff;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset -5px -5px 5px #dbdbdb;
	-webkit-box-shadow: inset -5px -5px 5px #dbdbdb;
	box-shadow: inset -5px -5px 5px #dbdbdb;
}
#content_right
{
    margin-left: 10px;
	margin-right: 20px;
	float: right;
	padding: 15px;
    border: 2px outset #dbdbdb;
	background: #ffffff;
	width: 230px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset -5px -5px 5px #dbdbdb;
	-webkit-box-shadow: inset -5px -5px 5px #dbdbdb;
	box-shadow: inset -5px -5px 5px #dbdbdb;
}
p, .article li, #content li
{
    font-size: 14px;
    line-height: 1.5em;
}
ul.menu
{
    list-style-type: none;
    padding: 0 0 0.24em 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-top: 0;
}
ul.menu > li, #menu_loggedin li, #menu_notloggedin li
{
    display: inline;
    border-color: transparent;
    border-style: solid;
    border-width: 0.25em 0.5em 0.25em 0.5em;
    position: relative;
}
ul.menu > li:hover
{
    background-color: #09565a;
    border-color: #09565a;
    border-style: solid;
    border-width: 0.25em 0.5em 0.25em 0.5em;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	padding: 2px 0 3px 0;
}
ul.menu li ul.submenu
{
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 1.55em;
    margin-left: -0.5em;
    padding: 0.7em 0 0 0;
    background: #0e8d94;
    border-color: #0e8d94;
    border-width: 0.1em;
    border-style: solid;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    width: 100%;
	margin-top: 5px;
}
ul.menu li ul.submenu > li:hover
{
	background-color: #11a8b0;
	border-color: #11a8b0;
	
}
.webkit  ul.menu li ul.submenu
{
    top: 1.40em;
}
ul.submenu li 
{
    padding: 0 0.5em 0.5em 0.5em;
}
.widebox div.title, .rating_verbose
{
    color: #333333;
    padding: 8px 4px 4px 4px;
    margin: 2px;
}
.widebox .title a.title
{
    color: #333333;
    text-decoration: none;
}
div.title
{
    word-wrap: break-word;
    max-width: 580px;
	padding: 2px;
	
}
.widebox .category_element
{
    float: right;
    padding: 4px 8px 4px 4px;
    margin: 2px;
}
.widebox.highlight .category_element
{
    color: #000000;
}
.widebox .reviewthis
{
    float: right;
    padding: 4px 8px 4px 4px;
    margin: 2px;
    font-size: 11px;
}
.widebox .review
{
    margin-left: 10px;
    font-size: 11px;
}
.widebox .reviewthis
{
    display: none;
}
.widebox.highlight .reviewthis
{
    display: block;
}
.widebox
{
    min-height: 64px;
    padding: 1px;
}
.widebox textarea, .widebox input
{
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
}
.widebox textarea
{
    width: 250px;
    height: 100px;
}
.editable > * > textarea
{
    width: 500px;
    height: 200px;
}
.box
{
    width: 40em;
    clear: both;
}
.box.itembox
{
    width: 100%;
    padding: 4px;
    clear: none;
}
.user_opinion
{
    font-size: 10px;
}
.link .user_opinion
{
    margin-top: 15px;
}
.box.highlight
{
    background-color: #f2f2f2;
}
table
{
    border-spacing: 0;
}
td
{
    padding: 5px;
}
.likes 
{
    color: #ffffff;
}
.highlight .likes
{
    color: #aaaaaa;
    font-size: 10px;
}
.category_filter
{
    margin-top: 2px;
    font-size: 11px;
    margin-bottom: 10px;
    color: #cccccc;
}
.category_filter a
{
    color: #aaaaaa;
}
.category_element, .link_meta, .link_meta a
{
    font-size: 11px;
    color: #434d53;
}
.widebox .category_element
{
    color: #bbbbbb;
    margin-left: 1em;
}
.rating, .rating_small
{
    float: left;
    text-align: center;
    cursor: default;
    font-weight: bold;
}
.rating_small
{
    width: 16px;
    height: 16px;
    font-size: 10px;
    padding: 0 0 0 0;
    line-height: 16px;
}
.rating
{
    padding: 0 0 0 0;
    margin: 5px 8px 5px 5px;
    width: 30px;
    height: 30px;
    line-height: 27px;
}
.itembox .rating
{
    margin-bottom: 40px;
}
.rating.notrated
{
    width: 5px;
}
.terse .rating.notrated
{
    display: none;
}
.rating1
{
    background-color: #f02000;
    color: #ffffff;
}
.rating2
{
    background-color: #ffcc00;
    color: #ffffff;
}
.rating3
{
    background-color: #fff600;
    color: #ffffff;
}
.rating4
{
    background-color: #88f000;
    color: #ffffff;
}
.rating5
{
    background-color: #00a020;
    color: #ffffff;
}
.rating_label
{
    float: left;
    margin-right: 5px;
}
.rate.rating_small
{
    opacity: .15; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=15); /* IE lt 8 */
    -ms-filter: "alpha(opacity=15)"; /* IE 8 */
    -khtml-opacity: .15; /* Safari 1.x */
    -moz-opacity: .15; /* FF lt 1.5, Netscape */
}
.rated.rating_small
{
    opacity: 1.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=100); /* IE lt 8 */
    -ms-filter: "alpha(opacity=100)"; /* IE 8 */
    -khtml-opacity: 1.0; /* Safari 1.x */
    -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
}
.delete, .user_rate img
{
    margin-left: 10px;
}
.your_opinion
{
    display: inline;
}
.highlight .your_opinion
{
    display: none;
}
.user_rate
{
    display: none;
}
.pic_rate
{
    display: inline;
}
.terse .user_rate
{
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}
.terse .user_opinion
{
    float: right;
}
.terse .category_element, .terse .title, .terse .link_meta
{
    float: left;
}
.terse .title, .terse .category_element, .terse .link_meta
{
    margin-left: 5px;
}

.link_comments
{
    display: none;
}
.highlight .link_comments
{
    display: inline;
    float: right;
}

.terse
{
    padding: 2px 2px 0px 2px;
}
.highlight .user_rate
{
    display: inline;
}
.nodisplay
{
    display: none;
}
.rating_small_hint
{
    float: left;
    margin-left: 2em;
    color: #b6b6c0;
}
#logo
{
    margin-top: 7px;
	margin-left: -20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 24px;
    color: #0099ff;
    width: 500px;
    float: left;
}
#logo a
{
    color: inherit;
    text-decoration: none;
}
#logo img
{
    border: 0;
}

#navbar a
{
    color: #ffffff;

    
}
#navbar a:hover
{
    color: #434d53;
}
#navbar ul.menu > li:hover > a
{
    color: #ffffff;
}
input[type="text"], input[type="button"], input[type="password"], input[type="submit"], textarea, select
{
    border: 2px solid #434d53;
    color: #333333;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type="text"]
{
    padding-left: 2px;
    padding-right: 2px;
}
input.search
{
    background: url("/media/images/search.png") no-repeat scroll 3px 3px #ffffff;
    padding: 1px 5px 1px 20px;
}
#search, #search_inline
{
    border: 2px solid #434d53;
    background: url("/media/images/search.png") no-repeat scroll 3px 3px #ffffff;
    padding: 1px 5px 1px 20px;
}
#search_inline
{
    margin-right: 5px;
    font-weight: normal;
    height: 26px;
    background: url("/media/images/search_big.png") no-repeat scroll 3px 3px #ffffff;
    padding: 1px 5px 1px 30px;
}
#topnav
{
    margin-right: -10px;
    padding: 0;
    float: right;
	background: #0e8d94;
}

.ajaxform
{
    margin-left: 10px;
    margin-top: 10px;
}
.ajaxform input
{
    width: 10em;
    margin-right: 1em;
}
.error
{
    color: #ff0000;
    margin-top: 1em;
}
.big .error
{
    font-size: 16px;
    font-family: Verdana;
}
.big th
{
    text-align: left;
    font-weight: normal;
}
.similarity .bar
{
    height: 10px;
    float: left;
    background-color: #c0eeff;
}
.similarity
{
    width: 120px;
    float: left;
    border: 1px solid #80ccff;
    background-color: #ffffff;
}
.smalltext
{
    font-size: 0.875em;
    color: #aaaaaa;
}
.opinion .loading
{
    margin-left: 1em;
    float: left;
}
.resizable-textarea textarea
{
    margin-bottom: 0;
}
div.grippie
{
}
.big .left
{
    width: 55%;
    float: left;
}
.big .right
{
    width: 45%;
    float: right;
}
.big
{
    margin: 1em;
    font-family: Helvetica, Arial;
    color: #434d53;
    font-size: 20px;
    line-height: 30px;
}
.big input, .big select
{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #434d53;
    padding: 10px 20px;
}
.big select
{
    padding: 0;
    font-weight: normal;
}
.big input[type="submit"]
{
    border-width: 2px;
}
.big label
{
    margin-right: 20px;
}
a.also_liked
{
    cursor: pointer;
}
button.also_liked
{
    background: none;
    border: 1px solid transparent;
    margin: 0;
    margin-right: -3px;
    padding: 0
}
button.also_liked.highlight
{
    border: 1px solid #0072cc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
h1, h1 button
{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    word-wrap: break-word;
	background: #434d53;
	color: #ffffff;
	padding: 5px 20px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 10px;
	margin: -17px -17px 34px -17px;
}
h2 
{
    font-size: 16px;
    margin-top: 0;
}
.hide
{
    display: none;
}
.ui-resizable-s
{
    background: #c0eeff no-repeat scroll center 2px;
    border-color: #0099ff;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

/* editables */
a.edit, a.remove
{
    font-size: 10px;
    font-weight: normal;
    visibility: hidden;
    margin-left: 10px;
}
*:hover > a.edit, *:hover > a.remove, .widebox:hover a.edit, .widebox:hover a.remove
{
    visibility: visible;
}
.widebox > a.remove
{
    float: right;
    padding-right: 10px;
}

#add_textarea
{
    display: none;
}
#list_add.text #add_textarea
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 100px;
}

#add_text, #add_item, #item_selector
{
    display: none;
}
#list_add.item #add_item, #list_add.item #item_selector
{
    display: inline;
}
#list_add.heading #add_text
{
    display: inline;
}
#add_submit
{
    background: inherit;
}
#list_add.item #add_submit
{
    background: url('/media/images/search.png') no-repeat center center;
}
.annotation
{
    margin: 10px;
}
h1 form
{
    display: inline;
}
.qtip-content
{
    font-size: 11px;
}
.qtip-content ul
{
    list-style-type: none;
    padding: 0 30px 0 3px;
}

.ui-autocomplete
{
    list-style-type: none;
    font-size: 14px;
    background-color: white;
    padding: 12px;
    border: 2px solid #0099ff;
    width: 100px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-menu-item a
{
    cursor: pointer;
    width: 100%;
    display: block;
}
.ui-state-hover
{
    background-color: #f8f8ff;
}

a.delete-link, a.delete-undelete
{
    padding: 5px;
    cursor: pointer;
}
a.delete-link:hover, a.delete-clicked
{
    background-color: #ff0000;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

tr.top1
{
    font-weight: bold;
    font-size: 1.5em;
}
tr.top2
{
    font-size: 1.25em;
}
tr.top3
{
    font-size: 1.1em;
}

#ratings_graph
{
    width: 100%;
    height: 150px;
}

#message {
    background: none repeat scroll 0 0 #eedf84;
	width: 1050px;
	float: right;
	margin-right: 35px;
    border: 0;
    font-size: 16px;
	margin-bottom: 60px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	vertical-align: middle;
	margin-top: -10px;
}
#message .login
{
	height: 100%;
    width: 265px;
	 background: #0e8d94;
	 float:right;
	-moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
}
#messade .login p
{	
	line-height: 1em;
}
#message .messagecontent
{

    float: left;
    width: 750px;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}
#message .messagecontent p
{
    line-height: 1.5em;
}

.qtip-content
{
    background: rgba(255,255,255,0.5)
}

/* pagination */
.pagination
{
    margin-left: 7px;
    margin-top: 10px;
}
.pagination > a.page
{
    padding: 0 10px;
    line-height: 32px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #05e;
}
.pagination > a.page.current_page
{
    background-color: #f0f0ff;
    color: #000;
}
.pagination > a.page:hover
{
    border-color: #888;
    background-color: #f8f8ff;
}
