{% extends base %}

{% load base36 %}
{% load nbsp %}
{% load sequence %}
{% load reversetag %}

{% block title %}
    {% if category %}
        {{ category.element_singular|capfirst }} recommendations - Archfinch
    {% else %}
        Link recommendations - Archfinch
    {% endif %}
{% endblock %}

{% block content %}

<div id="content_left">
<h1>
{% if category %}
    {{ category.element_plural|capfirst }}
{% else %}
    Things
{% endif %}
    you
 might like.
</h1>

{% for link in recommendations %}
    {% include "includes/opinionbox.html" with item_id=link.id yr_big=1 terse_layout=1 item_name=link.name category_singular=link.category_element seq_term=forloop.counter your_rating=link.rating %}
{% empty %}
    {% if not category %}
        <div class="big">
            <p>We don't know {% if usernames_specified %}them{% else %}you{% endif %} well enough to recommend you anything.
            {% if not usernames_specified %}
            <p>We would like to, though, so please consider rating more stuff.</p>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
{% if usernames_specified %}
    {% reverse partial "recommend-for" category_slug=category_slug|default:"" usernames=usernames_joined as pagination_url %}
{% else %}
    {% if category_slug %}
        {% reverse partial "recommend-slugged-paged" category_slug=category_slug as pagination_url %}
    {% else %}
        {% reverse partial "recommend-paged" as pagination_url %}
    {% endif %}
{% endif %}
{% include "includes/pagination.html" %}

</div>
<div id="content_right">
    <h2>Share a 
    {% if category %}
        {{ category.element_singular }}
    {% else %}
        link
    {% endif %}
    </h2>
    <p>Know of something awesome?<br /><a href="{% url submit %}"><b>Submit</b></a> it!</a></p>
    <h2>Like Archfinch?</h2>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:like href="http://archfinch.com/" show_faces="true" width="225" font="verdana"></fb:like> 
</div>


{% endblock %}
{% block media %}
{% include "includes/generate_lists_tip.html" %}
{% endblock %}
