{% extends base %}

{% load base36 %}
{% load nbsp %}
{% load sequence %}

{% block title %}
    {% if category %}
        {{ category.element_singular|capfirst }} recommendations - Archfinch
    {% else %}
        Link recommendations - Archfinch
    {% endif %}
{% endblock %}

{% block content %}

<div id="content_left">
<h1>
{% if category %}
    {{ category.element_plural|capfirst }}
{% else %}
    Things
{% endif %}
    you
 might like.
</h1>

{% if category.name == 'Links' %}
    {% for link in recommendations %}
        {% with link.id as item_id %} 
        {% with 1 as yr_big %}
        {% with 1 as terse_layout %}
        {% with link.name as item_name %}
        {% with link.category_element as category_singular %}
        {% with forloop.counter as seq_term %}
        {% with link.rating as your_rating %}
            {% include "includes/opinionbox.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% empty %}
        {% if not category %}
            <div class="big">
                <p>We don't know {% if usernames_specified %}them{% else %}you{% endif %} well enough to recommend you anything.
                {% if not usernames_specified %}
                <p>We would like to, though, so please consider rating more stuff.</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% if category.name == 'Pics' %}
    {% for link in recommendations %}
        {% if link.thumbnail %}
            <a href="{{ link.url }}"><img src="{{ link.thumbnail.url }}"></a>
        {% else %}
            <img src="{{ link.url }}">
        {% endif %}
    {% endfor %}
{% else %}
    {% for link in recommendations %}
        {{ link.html|safe }}
    {% endfor %}
{% endif %}
{% endif %}
{% if left > 0 %}
    <span class="smalltext">
    <p>There {{ left|pluralize:"is,are" }} {{ left }} more result{{ left|pluralize }}.
    {% if left <= 100 %}
        {% if usernames_specified %}
            <a href="{% url recommend-for category_slug=category_slug|default:"" usernames=usernames|join:"," start=start|add:n n=100 %}">Show {{ left|pluralize:"it,them" }}</a>.
        {% else %}
            {% if category_slug %}
                <a href="{% url recommend-slugged-paged category_slug start|add:n 100 %}">Show {{ left|pluralize:"it,them" }}</a>.
            {% else %}
                <a href="{% url recommend-paged start|add:n 100 %}">Show {{ left|pluralize:"it,them" }}</a>.
            {% endif %}
        {% endif %}
    {% else %}
        {% if usernames_specified %}
            Show the next <a href="{% url recommend-for category_slug=category_slug|default:"" usernames=usernames|join:"," start=start|add:n n=100 %}">100</a>.
        {% else %}
            {% if category_slug %}
                Show the next <a href="{% url recommend-slugged-paged category_slug start|add:n 100 %}">100</a>.
            {% else %}
                Show the next <a href="{% url recommend-paged start|add:n 100 %}">100</a>.
            {% endif %}
        {% endif %}
    {% endif %}
    </p>
    </span>
{% endif %}

</div>

{% endblock %}
{% block media %}
{% include "includes/generate_lists_tip.html" %}
{% endblock %}
