{% load base36 %}
{% load markup %}
<div class="box opinion {% if not terse_layout %}widebox{% else %}terse{% endif %} {% if click_hides %}click_hides{% endif %} {% if link %}link{% endif %}" seq_term="{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}" item="{{ item_id|base36 }}">
    <div class="tags">
        <a class="addtag" href="#">+</a>
        {% for tag in link.popular_tags %}
        <span class="tag"><a class="taglink" href="{% if link %}{% url fresh-tags tag.name %}{% else %}{% url search-base %}/tag:{{ tag.name }}{% endif %}">{{ tag.name }}</a><a class="blocktag" href="#">x</a></span>
        {% endfor %}
    </div>
    {% if terse_layout and not link and not item.is_comment %}
        {% if your_rating %}
        <div class="rating rating{{ your_rating }}" {% if yr_big %}id="yr_{{ seq_term }}"{% endif %}>{{ your_rating }}</div>
        {% else %}
        <div class="rating notrated" {% if yr_big %}id="yr_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}"{% endif %}></div>
        {% endif %}
        <div class="title"><a href="{% url main.views.item item_id|base36 item_name|slugify %}">{{ item_name }}</a></div><br/>
        <div class="category_element" style="width: 100px; height: 32px;">{{ category_singular|capfirst }}</div>
    {% else %}
    {% if link or item.is_comment %}
        {% if your_rating %}
        <div class="rating rating{{ your_rating }}" {% if yr_big %}id="yr_{{ seq_term }}"{% endif %}>{{ your_rating }}</div>
        {% else %}
        <div class="rating notrated" {% if yr_big %}id="yr_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}"{% endif %}></div>
        {% endif %}
        {% if link %}
        <div class="title"><a href="{{ link.url }}">{{ link.name }}</a></div><br/>
        <div class="link_meta" style="max-width: 300px;">{{ link.time|timesince }} ago by <a href="{% url user-overview link.submitter_show.username %}">{{ link.submitter_show }}</a> <br /> <a href="{% url link.get_absolute_url %}">
            {% with comment_count=item.comment_count %}
            {% if comment_count > 0 %}{{ comment_count }} comments{% else %}discuss this{% endif %}
            {% endwith %}
        </a>
        </div>
        {% else %}
        <div class="link_meta" style="max-width: 300px;">{{ item.comment.created|timesince }} ago by <a href="{% url user-overview item.submitter_show.username %}">{{ item.submitter_show }}</a> | <a href="{% url item.get_absolute_url %}">link</a>
        </div>
        {% endif %}
        
    {% else %}    
    <div class="category_element">
        {{ category_singular|capfirst }}
    </div>
    <div class="rating rating{{ rating }} {% if not rating %}notrated{% endif %}" {% if yr_big %}id="yr_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}"{% endif %}>{% if rating %}{{ rating }}{% endif %}</div>
    <div class="title">
    <span><a href="{% url main.views.item item_id|base36 item_name|slugify %}" class="title">{{ item_name }}</a></span>
    {% if review %}<span class="review"><a href="{% url review viewed_user.username item_id|base36 item_name|slugify %}">review</a></span>{% endif %}

    </div>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <div class="user_opinion">

    {% if not yr_big %}
    <div class="your_opinion {% if not your_rating %}nodisplay{% endif %}">
        <span class="rating_label">Your opinion:</span> <div id="yr_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}" class="rating_small rating{{ your_rating }}">{{ your_rating }}</div>
    </div>
    {% endif %}

    {% if terse_layout %}
    <div class="rating_small_hint" id="rsh_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}"></div>
    <img src="/media/images/ajax-loader.gif" class="loading nodisplay" id="ld_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}">
    {% else %}
    <div class="reviewthis"><a href="{% url review-edit item_id|base36 %}">
        {% if your_profile and review %}
        edit your review
        {% else %}
        write a review
        {% endif %}
    </a></div>
    {% endif %}
    <div class="user_rate" {% if terse_layout %}style="float: right"{% endif %}>
        <span class="rating_label">Rate:</span>
        <span class="rating_small rate {% if your_rating == 1 %}rated{% endif %} rating1">1</span>
        <span class="rating_small rate {% if your_rating == 2 %}rated{% endif %} rating2">2</span>
        <span class="rating_small rate {% if your_rating == 3 %}rated{% endif %} rating3">3</span>
        <span class="rating_small rate {% if your_rating == 4 %}rated{% endif %} rating4">4</span>
        <span class="rating_small rate {% if your_rating == 5 %}rated{% endif %} rating5">5</span>
        {% if your_rating %}
        <span class="rating_small rate delete">x</span>
        {% endif %}
        <img src="/media/list.png" class="rating_small rate add_to_list">
    </div>
    {% if not terse_layout %}
    <div class="rating_small_hint" id="rsh_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}"></div>
    <img src="/media/images/ajax-loader.gif" class="loading nodisplay" id="ld_{{ seq_term }}{% if seq_term2 %}_{{ seq_term2 }}{% endif %}">
    {% endif %}
    </div>
    {% endif %}
    <div class='clear'></div>
    {% if annotation %}
    <div class="annotation">
    {{ annotation|markdown }}
    </div>
    {% endif %}

    {% if link %}
        {% if category_singular == 'pic' and not no_src %}
            {% if link.image.width > 640 and link.thumbnail %}
                <a href="{{ link.url }}"><img src="{{ link.thumbnail.url }}" style='border: 0'></a>
            {% else %}
                <img src="{{ link.url }}">
            {% endif %}
            <br /><br />
        {% endif %}
        {% if category_singular == 'video' and not no_src %}
            {{ link.html|safe }}
            <br /><br />
        {% endif %}
    {% endif %}
    {% if category_singular == 'comment' %}
    <div class="commenttext">
    {{ item.comment.text|markdown }}
    </div>
    {% endif %}
</div>
