<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Archfinch{% endblock %}</title>
    <link rel="stylesheet" href="/site_media/style.css" />
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/site_media/main.js"></script>
</head>
<body>
    <div id="logo">
        <a href="/">Archfinch</a>
    </div>
    <div id="navbar">
        <ul class="menu">
            {% if user.is_authenticated %}
            <span id="menu_loggedin">
            <li> <a href="{% url users.views.overview user.username %}" id="menu_user">{{ user.username }}</a>
            <li> <a href="{% url logout %}" id="menu_logout">logout</a>
            </span>
            {% else %}
            <span id="menu_notloggedin">
            <li> <a href="{% url account.views.signup %}" id="menu_signup">signup</a>
            <li> <a href="{% url login %}" id="menu_login">login</a>
            </span>
            {% endif %}
            <li>
            <li> <a href="{% url users.views.similar %}">similar users</a>
            <li> <a href="{% url main.views.recommend %}">things you might like</a>
            <li>
            <li> <form style="display:inline" action="{% url search.views.query %}"><input type='text' id='search' name='q' {% if query %}value='{{ query }}'{% else %}value='Search...' onClick='this.value=""'{% endif %}></form>
            <form method="post" id="loginform" action="{% url login-ajax %}" class="nodisplay ajaxform">
                <label for="id_username">Username:</label>
                <input id="id_username" type="text" name="username" maxlength="30" />
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" />
                {% csrf_token %}
                <input type="hidden" name="next" value="" />
                <img src="/site_media/images/ajax-loader.gif" class="nodisplay loading">
                <div class="nodisplay"><input type="submit" value="Login"></div>
                <div id="loginform_error" class="error"></div>
            </form>
            <form method="post" id="signupform" action="{% url signup-ajax %}" class="nodisplay ajaxform">
                <label for="id_username">Username:</label>
                <input id="id_username" type="text" name="username" maxlength="30" />
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" id="id_password1" />
                <label for="id_password2">Password verification:</label>
                <input type="password" name="password2" id="id_password2" />
                {% csrf_token %}
                <img src="/site_media/images/ajax-loader.gif" class="nodisplay loading">
                <div class="nodisplay"><input type="submit" value="Sign up!"></div>
                <div id="signupform_error" class="error"></div>
            </form>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
