<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}The title{% endblock %}</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="navbar">
        Temporary menu
        <ul>
            <li> <a href="/">index</a>
            <li> <a href="/account/signup">signup</a>
            <li> <a href="/account/login">login</a>
            <li> <a href="/account/logout">logout</a>
            <li> <a href="/account/prefs">preferences</a>
            <li> <a href="/user/joe">joe the user</a>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
