{% extends "base.html" %}

{% block content %}

<div id="content_left">

{% for opinion in opinions|slice:":100" %} {# fix this slice #}

<div class="box opinion">
    <div class="category">
        <span class="category_element">
        </span>
    </div>
    <div class="rating rating{{ opinion.rating }}" {% if your_profile %}id="yr_{{ opinion.item.id }}"{% endif %}>{{ opinion.rating }}</div>
    <div class="title"><a href="{% url main.views.item opinion.item.id opinion.item|slugify %}">{{ opinion.item }}</a></div>

        {# change this later, only temporary! #}
        {% for tag in opinion.item.tag_set.all %}

        <div>{{ tag.word }}</div>

        {% endfor %}
    <div class="user_opinion" item="{{ opinion.item.id }}">

    {% if not your_profile %}
    <div class="your_opinion {% if not opinion.your_rating %}nodisplay{% endif %}">
        <span class="rating_label">Your opinion:</span> <div id="yr_{{ opinion.item.id }}" class="rating_small rating{{ opinion.your_rating }}">{{ opinion.your_rating }}</div>
    </div>
    {% endif %}

    <div class="user_rate">
        <span class="rating_label">Rate:</span>
        <span class="rating_small rate {% if opinion.your_rating == 1 or your_profile and opinion.rating == 1 %}rated{% endif %} rating1">1</span>
        <span class="rating_small rate {% if opinion.your_rating == 2 or your_profile and opinion.rating == 2 %}rated{% endif %} rating2">2</span>
        <span class="rating_small rate {% if opinion.your_rating == 3 or your_profile and opinion.rating == 3 %}rated{% endif %} rating3">3</span>
        <span class="rating_small rate {% if opinion.your_rating == 4 or your_profile and opinion.rating == 4 %}rated{% endif %} rating4">4</span>
        <span class="rating_small rate {% if opinion.your_rating == 5 or your_profile and opinion.rating == 5 %}rated{% endif %} rating5">5</span>
        {% if your_profile %}
        <span class="rating_small rate delete">x</span>
        {% endif %}
    </div>
    <div class="category_element">
        {% if your_profile %}
        {{ opinion.item.category.element_singular|capfirst }}
        {% else %}
        {{ opinion.category_singular|capfirst }}
        {% endif %}
    </div>
    <div class="rating_small_hint" id="rsh_{{ opinion.item.id }}"></div>
    <br />
    </div>
</div>

{% endfor %}

</div>
<div id="content_right">

<table>
<tr><th style='padding: 0 10px 2em 0; text-align: left;' colspan='2'>{{ viewed_user.username }}</th></tr>
{% if not your_profile and user.is_authenticated %}
<tr><td style='font-size: 12px; padding: 0 10px 4px 0;'>Similarity:</td><td> {% include "includes/similarity_bar.html" %}</td></tr>
{% endif %}
</table>
<br /><br />

{% if categories|length > 1 %}
<div class="category_filter">
Show only {{ viewed_user.username }}'s
{% for id, repr in categories %}
{{ forloop.last|yesno:"or ," }}<a href="/{{ id }}">{{ repr }}</a>{{ forloop.last|yesno:".,&#44;"|safe}}
{% endfor %}
</div>
{% endif %}

</div>

{% endblock %}
