{% extends "base.html" %}

{% block content %}

User profile of <b>{{ viewed_user.username }}</b>.

<br /><br />

Your similarity to {{ viewed_user.username }}: <b>{{ similarity }}</b>.

<br /><br />

{% for opinion in opinions %}

<div class="opinion">
    <div class="rating rating{{ opinion.rating }}">{{ opinion.rating }}</div>
    <div class="title">{{ opinion.item }}</div>

        {# change this later, only temporary! #}
        {% for tag in opinion.item.tag_set.all %}

        <div>{{ tag.word }}</div>

        {% endfor %}
    {% if opinion.your_rating %}
    <span style="float: left; font-size: 10px; margin-right: 5px; margin-bottom: 15px;">Your opinion:</span> <div class="rating_small rating{{ opinion.your_rating }}">{{ opinion.your_rating }}</div>
    <br />
    {% endif %}
</div>

{% endfor %}

{% endblock %}
