{% extends "base.html" %}

{% block content %}

User profile of <b>{{ viewed_user.username }}</b>.

<br /><br />

Your similarity to {{ viewed_user.username }}: <b>{{ similarity }}</b>.

<br /><br />

{% for opinion in opinions %}

<div>{{ opinion.rating }}</div>
<div>{{ opinion.your_rating }}</div>
<div>{{ opinion.item }}</div>

    {# change this later, only temporary! #}
    {% for tag in opinion.item.tag_set.all %}

    <div>{{ tag.word }}</div>

    {% endfor %}

{% endfor %}

{% endblock %}
