{% extends base %}

{% block title %}Similar people - Archfinch{% endblock %}

{% block content %}

<h1>People most similar to you.</h1>

{% if not similar_users %}
<div class="big">
    <p>We couldn't find anyone similar to you.</p>
    <p>Perhaps you should rate more stuff?</p>
</div>
{% endif %}

<table>
{% for similarity in similar_users %}
<tbody class='box'>
    <tr><td><div class="user"><a href="{% url users.views.overview similarity.user2.username %}">{{ similarity.user2 }}</a></div></td>
    <td style='padding-left: 10em'><div>
    {% with similarity.value as similarity %}
        {% include "includes/similarity_bar.html" %}
    {% endwith %}
    </div></td></tr>
    <tr><td colspan='2' style='padding-bottom: 10px; font-size: 10px; color: #aaaaaa;'>
    {% with likes.next as likelist %}
        <div class='likes'>{% if likelist %}Likes {{ likelist }}{% endif %}&nbsp;</div>
    {% endwith %}
    </td></tr>
</tbody>
{% endfor %}

</table>

{% if left > 0 %}
    <span class="smalltext">
    <p>There {{ left|pluralize:"is,are" }} {{ left }} more {{ left|pluralize:"person,people" }}.
    {% if left <= 10 %}
        <a href="{% url similar-paged start|add:n 10 %}">Show them</a>.
    {% else %}
        Show the next <a href="{% url similar-paged start|add:n 10 %}">10</a>.
    {% endif %}
    </p></span>
{% endif %}


{% endblock %}
