{% extends "base.html" %}

{% block title %}Similar people - Archfinch{% endblock %}

{% block content %}

Ten users most similar to you.

<br /><br />

<table>
{% for similarity in similar_users %}
<tbody class='box'>
<tr><td><div class="user"><a href="{% url users.views.overview similarity.user2 %}">{{ similarity.user2 }}</a></div></td>
<td style='padding-left: 10em'><div>
{% with similarity.value as similarity %}
{% include "includes/similarity_bar.html" %}
{% endwith %}
</div></td></tr>
<tr><td colspan='2' style='padding-bottom: 10px; font-size: 10px; color: #aaaaaa;'>
{% with likes.next as likelist %}
<div class='likes'>{% if likelist %}Likes {{ likelist }}{% endif %}&nbsp;</div>
{% endwith %}
</td></tr>
</tbody>
{% endfor %}

</table>

{% endblock %}
