{% extends base %}

{% load reversetag %}

{% block title %}Similar people - Archfinch{% endblock %}

{% block content %}

<h1>People most similar to you.</h1>

{% if not similar_users %}
<div class="big">
    <p>We couldn't find anyone similar to you.</p>
    <p>Perhaps you should rate more stuff?</p>
</div>
{% endif %}

<table>
{% for similarity in similar_users %}
<tbody class='box'>
    <tr><td><div class="user"><a href="{% url users.views.overview similarity.user2.username %}">{{ similarity.user2 }}</a></div></td>
    <td style='padding-left: 10em'><div>
    {% include "includes/similarity_bar.html" with similarity=similarity.value %}
    </div></td></tr>
    <tr><td colspan='2' style='padding-bottom: 10px; font-size: 10px; color: #aaaaaa;'>
    {% with likelist=likes.next %}
        <div class='likes'>{% if likelist %}Likes {{ likelist }}{% endif %}&nbsp;</div>
    {% endwith %}
    </td></tr>
</tbody>
{% endfor %}

</table>

{% reverse partial "similar-paged" as pagination_url %}
{% include "includes/pagination.html" %}

{% endblock %}
